#########################################################################################
#目录类过滤
#########################################################################################

# Bazel
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-AiwSys
/Debug/

# Logs
cyber/Logs/*
logs
Logs
records
data

# python proto
py_proto
cyber/python/cyber/proto/

# Doxygen
docs/doxygen
cyber/doxy-docs/build/
cyber/doxy-docs/xml/

#########################################################################################
#文件类型过滤
#########################################################################################
# Eclipse IDE files
.project
.cproject
.settings
.classpath

# IntelliJ files
.idea

# Vscode files
#.vscode

# atom.io files
*.gch

# Logs.
*.stdout
*.stderr
nohup.out
*.bak
*.csv.result

#模型文件
*.pt
# temporary files
*.swp
*.swo
*.pyc
*genrule.log

*.caffemodel
*.weights


# Bash Environment
.dev_bash_hist

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app




