{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'myApp/css/index.css' %}" rel="stylesheet"/>
    <title>首页</title>
</head>
<body>
    <form class="form-index" method="GET">
      {% csrf_token %}
        
        <select name="app">
            <option value="开启">开启</option>
        </select>
        <input type="submit" value="确定">   
    </form>
    <!-- <script>
        window.onload=function(){

        }
        function fresh(){
        window.location.reload();
        }
       setInterval('fresh()',1000)
    </script> -->
</body>
</html>