<cyber>
    <module>
        <name>perception_hmi</name>
        <dag_conf></dag_conf>
        <type>binary</type>
        <process_name>
           /media/shuimujie/C14D581BDA18EBFA/10.Projects/01.Linux/02.github/AiwSys/bazel-bin/projects/adas/component/hmi/perception_hmi
        </process_name>
        <exception_handler>respawn</exception_handler>
    </module>
</cyber>
